# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your Docker-sync cache and environment specific
# configuration (.env.local file) to be excluded from Git version control.
# This is a common strategy to avoid accidentally including private information
# in public repositories and patch files.

# Also note that subdirectories may and do have their own .gitignore files
# affecting content in these directories and their subdirectories further down
# in the tree hierarchy.

# See db_dumps/.gitignore
# See app/.gitignore

.DS_Store
.idea
.docker-sync
.env.local

